@import "tailwindcss";

@font-face {
  font-family: "Quicksand";
  src: url("../Quicksand.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@theme {
  --default-font-family: "Quicksand", sans-serif;

  --color-accent-light: #ffca7a;
  --color-accent-medium: #ff9900;
  --color-accent-dark: #b36b00;

  --color-base-light: #f2f6fa;
  --color-base-medium: #437bae;
  --color-base-dark: #142534;
}

body {
  @apply bg-base-light font-medium text-base-dark antialiased dark:bg-base-dark dark:text-base-light;
}
